<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
<div th:replace="fragments/navbar :: myNav"></div>

<!--th:object required if using form-binding and only works withing the scope of its use-->
<form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}">

    Title:
                    <!--this structure only happens in the field-->
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />

    <input type="submit" class="btn btn-success" />

    <!--&lt;!&ndash;create a form method that contains a input type that submits the form to delete the post&ndash;&gt;-->
    <!--<form th:action="@{posts/{id}/delete(id=${post.id})}" method="post" th:object="${post}">-->
        <!--<input type="submit" value="Delete" />-->
    <!--</form>-->

    <input type="hidden" id="postId" th:value="${post.id}"/>
    <button id="deletePost" class="btn btn-danger">Delete</button>

</form>


<div th:replace="fragments/footer :: footer"></div>

<!--class example to use javascript/fetch with delete button -->
<script>
    // 1) create the delete button with an id tag and a hidden input element that gets the post's id
    // 2) create the script element to add js
    // 3) create a variable that queries the document and selects the button's id
    // 4) create a variable that queries the document and selects the post's id
    // 5) add an event listener to the button and select the event action (i.e. click, hover, double click) and event function
    // 6) prevent the event from happening more than once
    // 7) to add a prompt, create a variable and assign a confirm prompt to pass a message; which returns boolean (true/false)
    // 8) if the user presses ok (true) then use the fetch/then method
    // 9) in the fetch pass the url , and the method you are committing to (Post/Get)
    //10) then take the result and get the json of it
    //11) then take the result and redirect to the link location

    let deleted = document.querySelector("deletePost");
    let postId = document.querySelector("#postId").value;

    deleted.addEventListener('click', function(e){
        e.preventDefault();
        let result = confirm("Do you want to delete this post?");
        if(result){

            fetch(`/posts/${postId}/delete`, {
                method: "POST"
            }).then(result => result.json()).then( result => location.href="/posts");
        }
    })
</script>

</body>
</html>