<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Roll the die</title>
</head>
<body>

<div >
    <h1>Pick a number</h1>
    <ul>
        <!--Each link is numbered and passes the number to /roll-dice/{n} that corresponds to the link number the user chose-->
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

    <h2>You guessed: <span th:text="${n}"></span> The number was: <span th:text="${result}"></span> </h2>
</div>




</body>
</html>